*{
    background-color: #6096B4;
}
.login{
    padding: 10px 20px;
}
.flex-container{
    min-width: fit-content;
    width: fit-content;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.forgot{
    background-color: #8FBDD3;
}

#err{
    background-color: #8FBDD3;
}

.err-text{
    background-color: #8FBDD3;
}

.login-con{
    background-color: #8FBDD3;
}

.loginbuttRight{
    transform: translateX(100px) !important;
}

.loginbuttLeft{
    transform: translateX(-100px) !important;
}

#login-bt{
    transition: 100ms;
    transform: translateX(0);

}

.SignUp{
    margin: 10px auto;
    width: 200px;
}

@media (min-width: 700px) {
  .flex-container  {
    flex-direction: row;
  }
}
.card{
    outline: 1px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #93BFCF;
    box-shadow: 2px 2px gray;
    width: 300px;
}
.pad-tb{
    padding: 20px 20px;
}

.email-invalid{
    border: 1px solid red;
}

input{
    background-color: white;
    border: 0px solid black;
    border-radius: 5px;
    padding: 10px 13px;
    margin: 5px auto;
    font-size: 17px;
}
input:focus{
    outline-color: #8FBDD3;
}
button{
    font-size: 17px;
    color: white;
    background-color: #93BFCF;
    border-radius: 10px;
    border: 1px solid #EEE9DA;
    width: 100px;
    height: 30px;
}
button:hover{
    color: black;
    border: 1px solid #BDCDD6;
    background-color: #BDCDD6;
}
a{
    margin: 5PX 5PX;
}