body {
    background-image: url("../../assets/image/bg02.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 950px;
    overflow: hidden;
}

main {
    padding: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.option-con {
    width: 30%;
    height: 700px;
    padding: 2px;
    background-color: #404040;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    border: 1px solid #252525;
}

.board-con {
    width: 1100px;
    height: 700px;
    background-color: #404040;
    /*border-radius: 25px*/
}

.board {
    width: 98%;
    height: 97%;
    overflow: auto;
    border-radius: 30px;
    background-color: #404040;
    margin: 10px;
    padding: 5px;

}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    border: 1px solid yellowgreen;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: yellowgreen;
    border-radius: 10px;
}

.room {
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    margin: 10px auto;
    width: 100%;
    height: 50px;
    background-color: aliceblue;
}

.cre-but {
    width: 274px;
}

input {
    font-family: Courier New;
    font-weight: 650;
    outline: none;
    border: 0;
    background-color: #404040;
    padding: 10px 13px;
    margin: 5px auto;
    font-size: 20px;
    /*border-radius: 25px;*/
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    color: white;

}

button {
    font-family: Courier New;
    font-weight: 650;
    font-size: 17px;
    color: white;
    background-color: #252525;
    border-radius: 25px;
    width: 100px;
    height: 40px;
    transition: .4s ease-in-out;

}


p {
    font-family: Courier New;
    font-size: 40px;
    color: #000000;
}


.chat-icon {
    position: fixed;
    bottom: 20px;
    left: 20px;
    cursor: pointer;
}

.chat-popup {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 639px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.chat-header {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-header h2 {
    margin: 0;
}

.close-chat {
    cursor: pointer;
}

.chat-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 200px;
    overflow-y: auto;
}

.chat-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
}

#message-input {
    flex: 1;
    padding: 5px;
    border: none;
}

#send-button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

#msg {
    padding: 5px;
}

#My-msg {
    padding: 5px;
    background-color: #252525;
}

.roomconfPOP {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 900px;
    height: 350px;
    margin: 0 auto;
    transform: translateY(-680px);
    border-radius: 20px;
    border: 4px solid#171717;
    background: #404040;
}

.roomconfPOP>div>h1 {
    color: #FFF;
    text-align: center;
    font-family: Courier Prime;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.roomconfPOP>button {
    width: 274px;
}

.close {
    position: absolute;
    width: 52px;
    height: 52px;
    top: 18px;
    right: 20px;
}

.close:hover {
    cursor: pointer;
}

.conFfrom {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 750px;
    height: 200px;
}

.conFfrom>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.conFfrom>div>input {
    width: 473px;
    height: 43px;
    margin: 0 !important;
    border-radius: 20px;
    background: #404040;
    box-shadow: 2px 5px 10px 0px #050505 inset;
}