body {
    background-image: url("../../assets/image/bg02.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
main{
    margin: 0 auto;
    width: fit-content;
    display: flex;
}
.boxwhite{
    width: 100px;
    height: 100px;
    background-color: rgb(202, 249, 202);
   
}
.boxblack{
    width: 100px;
    height: 100px;
    background-color: rgb(75, 149, 75);

}

.boxpiece{
    flex-wrap: wrap;
    font-size: 50px;

}

*{
    caret-color: transparent;
}

.board{
    display: block;
    width: 1064px;
    max-height: 900px;
    min-height: 300px;
    margin-left: 150px;
    margin-top: 70px;
    background-color: #171717;
    border-radius: 30px;
}

