body {
    background-image: url("../../assets/image/bg02.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* overflow: hidden; */
}

main {
    justify-content: center;
    width: 100%;
    display: flex;
}

button {
    font-family: Courier New;
    font-weight: 650;
    font-size: 20px;
    color: white;
    /* background-color: #404040; */
    padding: 10px;
    /* width: auto; */
    /* height: 50px; */
    /* border-radius: 25px; */
    /* box-shadow: 0 0 20px #000000; */
    border-radius: 25px;
    background: var(--stroke, #171717);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
}

button:hover {
    border-radius: 25px;
    color: white;
    background-color: black;
    text-shadow: 0 0 5px #ffffff;
    cursor: pointer;
}
button:disabled {
    border-radius: 25px;
    color: white;
    background-color: #404040;
    text-shadow: 0 0 5px #ffffff;
    cursor: pointer;
}
input {
    font-family: Courier New;
    font-weight: 650;
    outline: none;
    border: 0;
    background-color: #404040;
    padding: 10px 13px;
    margin: 5px auto;
    font-size: 20px;
    /*border-radius: 25px;*/
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    color: white;

}

.user-con {
    width: 700px;
    height: 813px;
    font-family: Courier New;
    font-weight: 650;
    font-size: 20px;
    border: 1px solid var(--stroke, #171717);
    background: var(--bg, #404040);
    padding: 15px;
    margin: 30px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: self-start;
}

.profile-main {
    display: flex;
    justify-content: center;
    width: 100%;
}

.profile-main img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 100%;
}

.button-con {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.userlist-info {
    display: flex;
    height: 813px;
    width: 1000px;
    margin: 30px;
    padding: 25px 30px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--stroke, #171717);
    background: var(--bg, #404040);
}

.userlist-info>h1 {
    color: #FFF;
    text-align: center;
    font-family: Courier Prime;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.user-list {
    width: 932px;
    height: 657px;
    flex-shrink: 0;
    background: var(--bg, #404040);
    box-shadow: 2px 5px 10px 0px #050505 inset;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.user-list>div {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 238px;
    width: 900px;
    height: 67px;
    border-radius: 50px;
    background: #F0F8FF;
    padding: 14px 14px 14px 40px;


}

.user-list>div>div {
    color: #000;
    font-family: Courier Prime;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.user-list>div>button {
    width: 100px;
    height: 40px;
}

.button-con>button {
    width: 95px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 25px;
    background: var(--stroke, #171717);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.close {
    position: absolute;
    width: 52px;
    height: 52px;
    top: 7px;
    right: 7px;
}

.del-pop {
    width: 500px;
    height: 200px;
    background-color: #404040;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.del-ti {
    padding: 20px;
    font-size: 35px;
    text-align: center;
    color: white;
    font-family: Courier New;
}
.del-te {
    font-size:13px;
    text-align: center;
    color: white;
    font-family: Courier New;
}
.del-in {
    width: 100% !important;
}
.del-butt-conf {
    height: 50px;
}