.chat-icon {
    width: 90px;
    height: 90px;
    background-color: #252525;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    left: 20px;
    cursor: pointer;
    padding: 5px;
}

.chat-popup {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 639px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.chat-header {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-header h2 {
    margin: 0;
}

.close-chat {
    cursor: pointer;
}

.chat-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.chat-content>div {
    color: #FFF;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.chat-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
}

#message-input {
    flex: 1;
    padding: 5px;
    border: none;
}

#send-button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}
#msg {
    padding: 5px;
}

#My-msg {
    overflow-wrap: break-word;
    padding: 5px;
    background-color: rgba(25, 25, 25, 0.4);
}
input {
    font-family: Courier New;
    font-weight: 650;
    outline: none;
    border: 0;
    background-color: #404040;
    padding: 10px 13px;
    margin: 5px auto;
    font-size: 20px;
    /*border-radius: 25px;*/
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    color: white;

}

button {
    font-family: Courier New;
    font-weight: 650;
    font-size: 17px;
    color: white;
    background-color: #252525;
    border-radius: 25px;
    width: 100px;
    height: 40px;
    transition: .4s ease-in-out;
    margin: 5px;


}

h2 {
    font-family: Courier New;
    font-weight: 650;
    font-size: 20px;
    color: white;
}