body {
    background-image: url("../../assets/image/bg02.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.card {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 10px;
    padding: 15px;
    outline: 1px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: #171717;
    box-shadow: 2px 2px gray;
    width: 360px;
    justify-content: left;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #808B96;
    opacity: 1;
    /* Firefox */

}

input {
    font-family: Courier New;
    font-weight: 650;
    outline: none;
    border: 0;
    background-color: #171717;
    padding: 15px 25px;
    width: 300px;
    margin: 5px auto;
    font-size: 17px;
    border-radius: 25px;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    color: white;
}

button {
    font-family: Courier New;
    font-weight: 650;
    font-size: 20px;
    color: white;
    background-color: #171717;
    border-radius: 10px;
    width: 130px;
    height: 50px;
    transition: .4s ease-in-out;
    border-radius: 25px;
    box-shadow: 0 0 20px #000000;
    margin-top: 10px;
}

button:hover {
    border-radius: 10px;
    border: 1px solid #171717;
    color: white;
    background-color: black;
    text-shadow: 0 0 5px #ffffff;

}

a {
    margin: 5PX 5PX;
}


#verify {
    width: 180px;
}
.send_btn {
    font-family: Courier New;
    font-weight: 650;
    margin: 0px 0px;
    border-radius: 25px;
    background-color: #171717;
    color: white;
    width: 100px;
    height: 50px;
    align-items: center;
}

.send_btn_tog {
    font-family: Courier New;
    font-weight: 650;
    margin: 0px 10px;
    border-radius: 5px;
    background-color: #171717;
    color: white !important;
    width: 100px;
    height: 50px;
    align-items: center;
}



.send_btn_tog:hover {
    background-color: #171717;
    color: white;
    font-family: Courier New;
    font-weight: 650;

}

.pad-tb {
    padding: 20px 20px;
}



.title {
    font-family: Courier New;
    font-weight: 650;
    margin: 0 auto;
    margin-top: 130px;
    background-color: #171717;
    color: white;
    width: 300px;
    border-radius: 60px;
    font-size: 60px;
    box-shadow: 0 0 50px white;
    text-align: center;
}

.signup {
    width: 400px;
    color: #000000;
    height: max-content;
}

.invalid {
    border-bottom: 1px solid red;
}

.bott-con {
    display: flex;
    justify-content: space-around;
}