.boxwhite{
    width: 100px;
    height: 100px;
    background-color: rgb(202, 249, 202);
   
}
.boxblack{
    width: 100px;
    height: 100px;
    background-color: rgb(75, 149, 75);

}

